<div id="article-banner">
    <svg class="logo-svg animated rubberBand" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 2000">
        <pattern id="avatar" width="1" height="1" patternContentUnits="objectBoundingBox">
            <image width="1" height="1" xlink:href="<%- theme.avatar %>"/>
        </pattern>
        <circle stroke="white" stroke-width="10" cx="50%" cy="50%" r="50%" fill="url(#avatar)"/>
    </svg>
    <h2>无聊叙事风</h2>
    <p class="post-date"><%- date(page.date, "MM/DD/YYYY") %></p>
</div>
<main class="app-body">
    <% page.posts.each(function(post) { %>
        <article class="article-card">
            <h2 class="article-head">
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            </h2>
            <p class="article-date"><%- date(post.date, "LL") %></p>
            <a class="more" href="<%- url_for(post.path) %>"><%- theme.excerpt_link %></a>
        </article>
    <% }) %>

    <% if (page.total > 1){ %>
        <%- partial('_partial/pager') %>
    <% } %>
</main>

<script>
    (function () {
        var banner = '<%- theme.index_uri_banner %>'
        $('#article-banner').css({
            'background-image': 'url(' + banner + ')'
        })
        $('.header').removeClass('fixed-header')
        window.onfocus = function () {
            document.title = '<%- theme.website_name %>';
        };
        window.onblur = function () {
            document.title = ' 等死 (～ o ～)~zZ';
        };
    })();
</script>