<div id="article-banner">
    <h2><%- page.title %></h2>
    <p class="post-date"><%- date(page.date, "MM/DD/YYYY") %></p>
</div>
<main class="app-body flex-box">
    <article class="post-article">
        <section class="markdown-content">
            <%- page.content %>
        </section>
        </br>
        <div class="article-footer">
            </br>
            <p>本文可能过时失效，若需更新，请留言</p>
            <p>本博客文章均为原创，转载请注明来源</p>
        </div>
        <%- partial('_partial/nav') %>
        <% if (theme.gitment) { %>
            <div id="comments"></div>
        <% } %>
    </article>
    <% if (theme.catalog) { %>
        <%- partial('_partial/catalog') %>
    <% } %>
</main>

<script>(function(){
    var banner = "<%- theme.pages_uri_banner %>"
    $('#article-banner').css({'background-image': 'url(' + banner + ')'})
    $('#article-banner').css('padding','210px 20px 20px 20px')
    $('.header').removeClass('fixed-header')
})();</script>

<script>(function(){
    // gitment
    var gitmentConfig = "<%= theme['gitment_owner'] %>"
    if (gitmentConfig !== 'undefined') {
        var gitment = new Gitment({
            //id: "<%- page.path %>",
            owner: "<%= theme['gitment_owner'] %>",
            repo: "<%= theme['gitment_repo'] %>",
            oauth: {client_id: "<%= theme['gitment_oauth_id'] %>", client_secret: "<%= theme['gitment_oauth_secret'] %>"},
            theme: {render(state, instance){const container = document.createElement('div');container.lang="en-US";container.className='gitment-container gitment-root-container';container.appendChild(instance.renderHeader(state, instance));container.appendChild(instance.renderEditor(state, instance));container.appendChild(instance.renderComments(state, instance));container.appendChild(instance.renderFooter(state, instance));return container;}}
        })
        gitment.render(document.getElementById('comments'));
    }
    // fancybox
    $.fancybox.defaults.wheel = false;
    $.fancybox.defaults.infobar = false;
    $.fancybox.defaults.buttons = [
        'fullScreen',
        // 'thumbs',
        'zoom',
        'close'
    ];
})();</script>